(
    move_left: Some(( code: Char('h'), modifiers: "")),
    move_right: Some(( code: Char('l'), modifiers: "")),
    move_up: Some(( code: Char('k'), modifiers: "")),
    move_down: Some(( code: Char('j'), modifiers: "")),

    exit: Some((code: Esc, modifiers: "")),
    exit_popup: Some((code: Char('c'), modifiers: "CONTROL")),
    quit: Some((code: Char('q'), modifiers: "CONTROL")),

    blame: Some((code: Char('b'), modifiers: "CONTROL")), 
    file_history: Some((code: Char('h'), modifiers: "CONTROL")), 
    status_reset_item: Some((code: Char('d'), modifiers: "CONTROL")), 
    stash_drop: Some((code: Char('d'), modifiers: "CONTROL")), 
    log_checkout_commit: Some((code: Char('s'), modifiers: "CONTROL")), 
    log_reset_commit: Some((code: Char('r'), modifiers: "CONTROL")),
    delete_branch: Some((code: Char('d'), modifiers: "CONTROL")),
    rebase_branch: Some((code: Char('r'), modifiers: "CONTROL")),
    compare_commits: Some((code: Char('c'), modifiers: "CONTROL")),
    tags: Some((code: Char('t'), modifiers: "CONTROL")),
    delete_tag: Some((code: Char('d'), modifiers: "CONTROL")),
    force_push: Some((code: Char('p'), modifiers: "CONTROL")),
    undo_commit: Some((code: Char('u'), modifiers: "CONTROL")),
    fetch: Some((code: Char('f'), modifiers: "CONTROL")),
    abort_merge: Some((code: Char('a'), modifiers: "CONTROL")),
    open_file_tree: Some((code: Char('f'), modifiers: "CONTROL")),
    view_sub_modules: Some((code: Char('s'), modifiers: "CONTROL")),
  
    open_help: Some(( code: F(1), modifiers: "")),
)
